body {
  margin: 0;
  font-family: Arial, sans-serif;
}
nav {
  background: #222;
  padding: 12px;
  text-align: center;
  position: sticky;
  top: 0;
}
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a.active {
  color: orange;
  border-bottom: 2px solid orange;
}
#home {
  background-color:#d5e9f8;
  padding: 80px 20px;
  text-align: center;
}
#about {
  background-color: #fde2e4;
  padding: 50px;
  text-align: center;
}
#skills {
  background-color:#d2fce6;
  padding: 50px;
  text-align: center;
}
#projects {
  padding: 50px;
  text-align: center;
}
.project {
  max-width: 600px;
  margin: auto;
}
.project h3 {
  margin-bottom: 10px;
}
.project p {
  line-height: 1.6;
 background-color:#ffffff;
}
#contact{
  background-color: #d1d5db;
  padding: 50px;
  text-align: center;
}
footer {
  background-color:#333333;
  color:#ffffff;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}